<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" parallel="false">

    <test name="LoginToJira">

        <parameter name="browserName" value="Chrome"/>

        <classes>
            <class name="LoginToJira"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="utils.TestNGListener"/>
    </listeners>

</suite>